{% extends 'base.html' %}

{% block title %}Películas por categoría - {{ genre.name }}{% endblock %}

{% block content %}
    <h1>Películas en la categoría de {{ genre.name }}</h1>

    {% if movies %}
        <div class="movies-list">
            {% for movie in movies %}
                <div class="movie-item">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" class="movie-poster" />
                    <div class="movie-info">
                        <h2>{{ movie.title }}</h2>
                        <p>{{ movie.overview }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron películas para esta categoría.</p>
    {% endif %}
{% endblock %}
