
{% block title %}Mi Lista{% endblock %}

{% block content %}
<h1>Mi Lista</h1>
{% if user.is_authenticated %}
    <ul>
        {% for movie in playlist.movies.all %}
            <li>
                <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" style="width:100px;">
                <strong>{{ movie.title }}</strong>
                <p>{{ movie.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Por favor, <a href="{% url 'login' %}">inicia sesión</a> para ver tu lista.</p>
{% endif %}
{% endblock %}
